@font-face{
    font-family:RobotoCondensed-Bold;
    src: url(../Roboto_Condensed/RobotoCondensed-Bold.ttf);
  }
  @font-face{
    font-family:RobotoCondensed-BoldItalic;
    src: url(../Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
  }
  @font-face{
    font-family:RobotoCondensed-Italic;
    src: url(../Roboto_Condensed/RobotoCondensed-Italic.ttf);
  }
  @font-face{
    font-family:RobotoCondensed-Light;
    src: url(../Roboto_Condensed/RobotoCondensed-Light.ttf);
  }
  @font-face{
    font-family:RobotoCondensed-LightItalic;
    src: url(../Roboto_Condensed/RobotoCondensed-LightItalic.ttf);
  }
  @font-face{
    font-family:RobotoCondensed-Regular;
    src: url(../Roboto_Condensed/RobotoCondensed-Regular.ttf);
  }